*{
    box-sizing: border-box;
    max-width: 100%;
    font-family: 'Balsamiq Sans', cursive;
}

/* header part */

.header{
    display: flex;
    justify-content: space-between;
    background-color: #0F4C81 ;
    color: white;;
}
.header h1{
    margin: 20px;
}
.header h3{
    font-size: .9em;
}
.bell-container{
    display: flex;
    align-items: center;
}
.bell-container *{
    margin-right: 5px;
}
.seperate-line{
    border-right: 1px black solid;
    height: 55px;
}
.icon-bell{
    width: 40px;
    height: 40px;
}
.myFace{
    width: 55px;
    height: 55px;
    border-radius: 100%;
}

/* navigation part*/

.navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EAAC9C ;
}
.icon-nav{
    width: 40px;
    height: 40px;
    margin: 15px;
}

/* Main part */

main{
    background-color: #FFF;
}

.main-header{
    display: flex;
    justify-content: flex-start;
}

.main-header-search{
    align-self: center;
    margin-left: auto;
    padding: 22px 22px 22px 40px;
    background-color:#cfc1c0 ;
    border-bottom-left-radius: 10px;
}

.main-header h2{

    margin: 20px;
}

/* alert */


.alert{
    margin-left: 20px;
    padding-left: 20px;
    background-color: #Fe5000;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.alert-banner{
    display: flex;
    justify-content: flex-start;
    width: 95%;
}

.alert-banner-close{
    margin-left: auto;
}

/* traffic header */

.traffic-header{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traffic-nav{
    margin-left: auto;
    display: flex;
}

.traffic-nav li{
    margin-right: 10px;
}

/* Traffic, daily, dougnut chart */

#traffic-chart,
#daily-chart,
#doughnut-chart{
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    border-bottom: 1.5px #cfc1c0 solid;
}

.daily-header,
.doughnut-header{
    margin-left: 20px;
}

/* Social state */
.social{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3,1fr);
}

.social-header{
    margin-left: 20px;
}

.social-image{
    background-color: #B634BB;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    text-align: center;
}

.social-container{
    display: flex;
    justify-content: center;
}

/* SVG icon */
.twitter-icon{
    padding: 15px;
    margin: 7px;
}

.facebook-icon{
    margin-top: 12px;
}

.google-icon{
    margin-top: 23px;
}


/* Grid Container */

.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "navigation"
    "main";
}

.header{
    grid-area: header;
}

.navigation{
    grid-area: navigation;
}

.main{
    grid-area: main;
}